.appContainer {
    composes: baseAppContainer from '../styles.css';
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.appContainer:hover {
    background: #F1F1F1;
}

.avatar {
    composes: baseAvatar from '../styles.css';
}

.actionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    font-size: 18px
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.uri {
    text-decoration: none;
    color: #383838;
    font-weight: 400;
}

.devMode {
    color: #3ED1D6;
}

.liveMode {
    color: #5DE858;
}

.warningMode {
    color: #FBC761;
}

.errorMode {
    color: #FC656E;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.text {
    padding: 8px 0;
    font-size: 20px;
    line-height: 25px;
}

.uri {
    composes: clickable from '../styles.css';
}

.connectionCount h4 {
    text-align: center;
    font-size: 54px;
    line-height: 62px;
    margin: 0;
}

.connectionCount div {
    line-height: 16px;
    opacity: .3;
}