.gridCard {
    display:flex;
    flex-wrap:wrap;
    min-height: 100vh;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    position: relative;
    width: 100%
}

.gridList {
    display:flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    position:relative;
    width: 100%;
}

.gridCardItem {
    flex:1 1 calc(50% - 20px);
    padding: 10px;
}

.gridListItem {
    flex-basis: 100%;
}

.gridListItem:last-child > div > div  {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}