.container {
    width: 100%;
    color: #4a90e2;
    font-size: 18px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    background-color: #383838;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 65px;
}

.navContainer ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.navContainer li {
    list-style-type: none;
}

.logo,
.link {
    color: #F2F2F2;
    text-decoration: none;
    cursor: pointer;
}

.logo:hover,
.link:hover {
    color: #3ED1D6;
}

.logo {
    font-family: 'Pattaya', sans-serif;
    font-size: 2em;
    padding-left: 20px;
}