.tableHeading {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: calc(100% - 2px);
}

.tableHeading li {
    font-size: .85em;
    color: rgb(51, 51, 51);
    font-weight: 400;
    padding: 10px 0;
    text-align: left;
    text-transform: uppercase;
}