.socialButtonsList {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.socialButtonsList li {
    display: inline-block;
}

.socialButtonsList li:nth-child(even) {
    margin-left: 40px;
}