html, body {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.75px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #453f3e;
    background-color: #F2F2F2;
}

h1, h2, h3, h4 {
    margin: .12em 0;
}
h1 {
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 2px;
}
h2 {
    font-weight: 400;
    font-size: 1.9em;
}

h3 {
    font-weight: 300;
    font-size: 1.7em;
}

h4 {
    font-weight: 300;
    font-size: 1.5em;
}
h6 {
    font-weight: 100;
    font-size: .75em;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.leftContainer {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 50%;
    max-width: calc(1024px / 2);
    flex-wrap:wrap;
    position: relative;
}

.leftContainer h6 {
    top: 0;
}
.leftContainer h6,
.leftContainer h2 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.rightContainer {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    max-width: calc(1024px / 2);
}

.addContainer {
}

.breathingRoom {
    margin: 40px auto;
}

.breathingRoomSmall {
    margin: 10px auto;
}

.uri {
    text-transform: lowercase;
    font-weight: 400;
    text-decoration: none;
}

.uri.clickable {
    color: #3ED1D9;
}

.largeHeader {
    font-family: 'Pattaya', sans-serif;
    color: #6fe4ff;
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 20px;
}

.subHeader {
    color: #4a90e2;
    font-size: 30px;
    text-align: center;
    line-height: 55px;
    font-weight: 100;
}

.errorMsg {
    color: #ff7777;
    font-size: 22px;
    text-align: center;
}

.center {
    text-align: center;
}

.baseInputContainer {
    display: flex;
    height: 60px;
    margin: 0 10px;
    justify-content: center;
}

.baseInput {
    flex: 1;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 18px;
    resize: none;
}

.darkBtn {
    background: #4a90e2;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #4a90e2;
}

.darkBtn:hover {
    background: #1877E6
}

.baseAppContainer {
    border-radius: 5px;
    max-width: 450px;
    margin: 15px auto;
    padding: 10px;
    cursor: pointer;
}

.baseAvatar {
    width: 25px;
    border-radius: 3px;
    margin: 0 3px;
}

.clickable {
    cursor: pointer;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.clickable:hover {
    transform: scale(1.1);
}

.buttonContainer {
    width: 120px;
    cursor: pointer;
    margin-bottom: 20px;
}

.buttonContainer:hover {
    opacity: .8;
}

.button {}

.buttonLabel {
    text-transform: capitalize;
    color: #ffffff
}

.buttonIcon {}

.table,
.dataTable {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
.dataTable {
    min-height: calc(84px - (2em + 2em));
}
.table li {
    display: inline-block;
}
.table li:first-child {
    padding-left: 20px;
}
.table li:first-child {
    width: calc(10% - 20px);
}

.table li:last-child {
    width: 10%;
}

.table li:nth-child(2) {
    width: 20%;
}

.table li:nth-child(3) {
    width: 60%;
}
.progressContainer {
    padding: 2em 0 0;
}
.addText {
    color: #3ED1D6;
    font-size: 2.2em;
    padding-bottom: 1em;
    text-transform: uppercase;
    text-align: center;
    display: block;
    opacity: 1;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1; }
    50% {
        opacity: 0; }
    100% {
        opacity: 1; }
}
