.pointer {
    cursor: pointer;
}

.newAppInputContainer {
    composes: baseInputContainer from 'shared/styles.css';
}

.enabled {
    background-color: 'blue',
}

.disabled {
    background-color: #EBEBEB;
}