html, body {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.75px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #453f3e;
    background-color: #F6F6F6;
}

h1, h2, h3, h4 {
    margin: .12em 0;
}
h1 {
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: capitalize;
}

h2 {
    font-weight: 400;
    font-size: 1.9em;
}

h3 {
    font-weight: 300;
    font-size: 1.7em;
}

h4 {
    font-weight: 300;
    font-size: 1.5em;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.breathingRoom {
    margin: 40px 15px;
}

.uri {
    text-transform: lowercase;
}

.largeHeader {
    font-family: 'Pattaya', sans-serif;
    color: #6fe4ff;
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 20px;
}

.subHeader {
    color: #4a90e2;
    font-size: 30px;
    text-align: center;
    line-height: 55px;
    font-weight: 100;
}

.errorMsg {
    color: #ff7777;
    font-size: 22px;
    text-align: center;
}

.center {
    text-align: center;
}

.baseInputContainer {
    display: flex;
    height: 60px;
    margin: 10px;
}

.baseInput {
    flex: 1;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 18px;
    resize: none;
}

.darkBtn {
    background: #4a90e2;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #4a90e2;
}

.darkBtn:hover {
    background: #1877E6
}

.baseAppContainer {
    border-radius: 5px;
    max-width: 450px;
    margin: 15px auto;
    padding: 10px;
    cursor: pointer;
}

.baseAvatar {
    width: 25px;
    border-radius: 3px;
    margin: 0 3px;
}

.clickable {
    cursor: pointer;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.clickable:hover {
    transform: scale(1.1);
}

.buttonContainer {
    width: 120px;
    cursor: pointer;
    margin-bottom: 20px;
}

.buttonContainer:hover {
    opacity: .8;
}

.button {}

.buttonLabel {
    text-transform: capitalize;
    color: #ffffff
}

.buttonIcon {}