.connectionWrapper {
    composes: baseAppContainer from 'shared/styles.css';
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.connectionWrapper:hover {
    background: #F1F1F1;
}