.grid {
    display:flex;
    flex-wrap:wrap;
    height: 100vh;
    justify-content: center;
    align-content: flex-start;
}

.gridItem {
    flex:1 1 420px;
    padding: 10px;
    max-width: 20%;
}